<div class="product-card" appScale>
  <div class="fade-in" *appVisible="!detailsVisible">
    <img [src]="product.imageUrl" alt="" srcset="" />
    <div class="wrapper p-4">
      <h5>{{ product.name }}</h5>
      <div class="text-muted">{{ product.subHeading }}</div>
      <p class="mt-1">{{ product.description }}</p>
      <div class="price">
        {{ product.price | currency : "INR" : "symbol" }}
      </div>
      <button
        appRedBg
        class="btn btn-info text-white px-5 mt-3"
        (click)="showDetailsHandle()"
      >
        Show
      </button>
    </div>
  </div>

  <div class="shipping-detail pt-1" *ngIf="detailsVisible">
    <button class="close" (click)="closeDetailsHandle()">
      <i class="bi bi-x text-muted"></i>
    </button>
    <div class="p-4 fw-light text-success heading mb-2">Shipping Details</div>
    <p-timeline [value]="events">
      <ng-template pTemplate="content" let-event>
        <small class="p-text-secondary">{{ event.date }}</small>
      </ng-template>
      <ng-template pTemplate="opposite" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
  </div>
</div>
